.image_logo {
  width: 5rem;
  height: 5rem; }

.img_size {
  width: 15rem; }

.img_services {
  width: 50%; }

.img_about {
  height: 50%; }

.gallery {
  max-width: 100%;
  /*al agregarlo quito el espaciado que genera la clase row*/ }
  .gallery .img_work {
    margin: 10px;
    transition-duration: 1s; }
    .gallery .img_work:hover {
      box-shadow: #a14156 10px 0 20px; }

.input_contact {
  color: white;
  border-radius: 20px;
  border: none;
  background-color: #a14156;
  box-shadow: #31050f 0rem 1rem 1.5rem; }
  .input_contact::placeholder {
    opacity: 90%;
    padding: 10px;
    color: white; }

body {
  background-color: #31050f; }

.title {
  z-index: 1;
  position: absolute; }

.main_container {
  margin: 1%;
  color: #d5d5d5;
  border-radius: 1rem;
  background-color: #641a2a;
  border: solid 2px white;
  box-shadow: #a14156 10px 0 20px; }
  .main_container h5 {
    color: white; }

.carousel_about {
  height: 50%; }
